{% include base_path %}

<section class="page__share">
  <div class="likebtn-container" style="margin-bottom: 10px;">
    <span class="likebtn-wrapper" data-theme="custom" data-btn_size="26" data-f_size="16" data-icon_size="18" data-bg_c="#d3d3d3" data-ef_voting="grow" data-identifier="zero" data-show_dislike_label="true" data-counter_clickable="true" data-counter_frmt="km" data-counter_zero_show="true"></span>
  </div>

  <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>

  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>

  <a href="https://x.com/intent/post?text={{ base_path }}{{ page.url }}" class="btn btn--twitter" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} X"><i class="fab fa-x-twitter" aria-hidden="true"></i><span> (formerly Twitter)</span></a>

  <div id="comments">
    <script src="https://giscus.app/client.js"
        data-repo="atharvacoolkarni/atharvacoolkarni.github.io"
        data-repo-id="R_kgDOPvwF2g"
        data-category="General"
        data-category-id="DIC_kwDOPvwF2s4CvdiL"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light_high_contrast"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>
  </div>

</section>
